

<div class="mt-4">
    <h3>Create Employee</h3>


    <form method="POST" action="/employee/store">
        <div class="form-group">
            <label for="">Name Employee</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name">
        </div>
        
        <div class="form-group">
            <label for="">Age Employee</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="age">
        </div>

        <div class="form-group">
            <label for="">Address Employee</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>